<div class="jumbotron text-center">
	<h1>Book a Flight</h1>
	<div id="outerflight">
		<div class="col-sm-8 col-sm-offset-2 left rowPadding">
			Flying From:
			<input type="text" ng-model="search.origin" autofocus>
			 To:
			<input type="text" ng-model="search.destination">
		</div>
		<div id="flight-list" class="row ">
			<table class="table table-hover table-striped">
				<tr>
					<th>Select</th>
					<th>Origin</th>
					<th>Destination</th>
					<th>Departure Date</th>
					<th>Return Date</th>
					<th>Flight Number</th>
					<th>Flight Class</th>
					<th>Price</th>
				</tr>
				
		        <tr ng-repeat="flight in flights | filter:search">
		        	<td><input type="radio" 
							   name="flight" 						
							   ng-checked="{{flight.selected}}" 
							   id="{{flight._id}}"
							   ng-click="selectFlight(this.flight._id)"/>
					</td>
		            <td>{{flight.origin}}</td>
		            <td>{{flight.destination}}</td>
		            <td>{{flight.departureDate}}</td>
		            <td>{{flight.returnDate}}</td>
		            <td>{{flight.flightNumber}}</td>
		            <td>{{flight.flightClass}}</td>
		            <td>{{flight.price | currency}}</td>		   
		        </tr>
	        </table>
	        <form ng-show="DisplayEnterDetails">
	            <a class="btn btn-primary" href="/enterBookingDetails" type="submit" ng-click="updateFLightSelection()" value="Enter Booking Details">Enter Booking Details</a>
	        </form>
		</div>
	</div>
</div>