<div class="jumbotron text-center">
	<h1>Booking List</h1>

	<p>Bookings in the past hour <span class="label label-info">{{ bookingsThisHour }}</span></p>
	<p>Sum total of all bookings in the past hour <span class="label label-info">{{ sumPriceThisHour | currency }}</span></p>

	<table class="table table-hover table-striped">
		<tr>
			<th>Origin</th>
			<th>Destination</th>
			<th>Departure Date</th>
			<th>Flight Number</th>
			<th>Flight Class</th>
			<th>Price</th>
			<th>Passenger Name</th>
			<th>Passenger Email</th>
			<th>time</th>
		</tr>
        <tr ng-repeat="booking in bookings">
        	<td>{{booking.origin}}</td>
            <td>{{booking.destination}}</td>
            <td>{{booking.departureDate}}</td>
            <td>{{booking.flightNumber}}</td>
            <td>{{booking.flightClass}}</td>
            <td>{{booking.price | currency}}</td>		   
        	<td>{{booking.passengerName}}</td>
        	<td>{{booking.email}}</td>
        	<td>{{booking.time| date:'shortDate'}} : {{booking.time | date: 'shortTime'}}</td>
        </tr>
    </table>
</div>