<div class="jumbotron text-center">
	<h1>Booking Confirmation</h1>

	<div id="confirmation" class="row">
		<p>
			<span>Thank you <b>{{confirmationDetails.passengerName}}</b></span>
		</p>
		<p>
			<span> You have successfully booked a flight from <b>{{confirmationDetails.origin}}</b> to <b>{{confirmationDetails.destination}}</b> on <b>{{confirmationDetails.departureDate}}</b></span>
		</p>
		<p>{{ tagline }}</p>
	</div>
</div>