<div class="jumbotron text-center">
	<h1>Enter Booking Details</h1>
	<form ng-submit="createBooking()">
		<div id="flight-list" class="row rowPadding">
			Name: <input type="text" name="name" min="3" max="30" ng-model="userDetails.passengerName" required ng-change="updatePassengerDetails()">
		</div>
		<div id="flight-list" class="row rowPadding">
			Email: <input type="email" name="email" min="6" max="40" ng-model="userDetails.email" required ng-change="updatePassengerDetails()">
		</div>
		<div id="flight-list" class="row rowPadding">
			<a href="/booking" class="btn btn-primary ">Back to Select Flight</a>
			<input type="submit" class="btn btn-primary" value="Confirm Booking">
		</div>
	</form>
</div>